{% extends "Froxlor/base.html.twig" %}

{% block content %}
	<div class="container max-w-lg flex align-content-center mt-5">
		<img src="{{ basehref|default('') }}templates/Froxlor/assets/img/logo.png" class="mb-5" alt="Froxlor Server Management Panel"/>

		<div class="row text-center gx-0">
			<div class="col p-3{{ setup.step == 0 ? ' bg-white shadow rounded-top' : '' }}"><i class="far fa-circle{{ setup.step > 0 ? '-check' : '' }}"></i> Preflight</div>
			<div class="col p-3{{ setup.step == 1 ? ' bg-white shadow rounded-top' : '' }}"><i class="far fa-circle{{ setup.step > 1 ? '-check' : '' }}"></i> Database</div>
			<div class="col p-3{{ setup.step == 2 ? ' bg-white shadow rounded-top' : '' }}"><i class="far fa-circle{{ setup.step > 2 ? '-check' : '' }}"></i> Admin</div>
			<div class="col p-3{{ setup.step == 3 ? ' bg-white shadow rounded-top' : '' }}"><i class="far fa-circle{{ setup.step > 3 ? '-check' : '' }}"></i> System</div>
		</div>

		<div class="card border-0 shadow">
			<div class="card-body p-5">
				<form method="post" action="?step={{ setup.step + 1 }}">
					{% if setup.step > 0 %}
						<h4 class="mb-3">{{ section.title }}</h4>
						<p class="lead">{{ section.description }}</p>

						{% import "Froxlor/form/formfields.html.twig" as formfields %}

						{% for id, field in section.fields %}
							{{ formfields.field(id, field) }}
						{% endfor %}

						<div class="d-flex justify-content-between mt-4">
							<a href="?step={{ setup.step - 1 }}" class="btn btn-secondary">&laquo;</a>
							<button class="btn btn-primary">Next</button>
						</div>
					{% else %}
						<h4 class="mb-3">Welcome to froxlor</h4>
						<p class="lead">We check the system for dependencies to ensure that all required php extensions and modules are enabled so that froxlor runs properly.</p>

						<p class="lead {{ preflight.criticals ? 'text-danger' : preflight.suggestions ? 'text-warning' : 'text-success'}}">
							<i class="{{ preflight.criticals ? 'fa fa-triangle-exclamation' : preflight.suggestions ? 'fa-circle-info' : 'far fa-circle-check' }}"></i>
							{{ preflight.text }}
						</p>

						{% if preflight.criticals %}
							<p class="text-muted">Critical Error</p>
							<ul>
								{% for critical in preflight.criticals %}
									<li>{{ critical|json_encode }}</li>
								{% endfor %}
							</ul>
						{% endif %}

						{% if preflight.suggestions %}
							<p class="text-muted">Suggestions</p>
							<ul>
								{% for suggestion in preflight.suggestions %}
									<li>{{ suggestion|json_encode }}</li>
								{% endfor %}
							</ul>
						{% endif %}

						<div class="d-flex justify-content-end mt-4">
							{% if preflight.criticals or preflight.suggestions %}
								<a href="" class="btn btn-secondary"><i class="fa fa-arrow-rotate-left"></i> Check again</a>
							{% else %}
								<a href="?step=1" class="btn btn-primary">Start installation</a>
							{% endif %}
						</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
