{% extends "Froxlor/base.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<form action="{{ formaction }}" class="col-12 max-w-420 d-flex flex-column" method="post" enctype="application/x-www-form-urlencoded">
				<img class="align-self-center my-5" src="{{ header_logo_login }}" alt="Froxlor Server Management Panel"/>

				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">{{ pagetitle }}</h5>
						<p>{{ lng('login.presend') }}</p>

						{% if message is not empty %}
							<div class="alert alert-danger" role="alert">
								<h4 class="alert-heading">{{ lng('error.error') }}</h4>
								<p>{{ message|raw }}</p>
							</div>
						{% endif %}

						<div class="mb-3">
							<label for="new_password" class="col-form-label">{{ lng('changepassword.new_password') }}</label>
							<input class="form-control" type="password" name="new_password" id="new_password" value="" required autofocus/>
						</div>

						<div class="mb-3">
							<label for="new_password_confirm" class="col-form-label">{{ lng('changepassword.new_password_confirm') }}</label>
							<input class="form-control" type="password" name="new_password_confirm" id="new_password_confirm" value="" required/>
						</div>
					</div>

					<div class="card-body d-grid gap-2">
						<button class="btn btn-primary rounded-top-0" type="submit" name="doremind">{{ lng('login.remind') }}</button>
					</div>

					<div class="card-footer">
						<a class="card-link text-muted" href="index.php">
							<i class="fa-solid fa-angles-left"></i>
							{{ lng('login.backtologin') }}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
