{% macro form(form_data, formaction, title = "", hiddenid = "") %}

	{% import "Froxlor/form/formfields.html.twig" as formfields %}

	<form action="{{ formaction|default("") }}" method="post" enctype="application/x-www-form-urlencoded" class="form">
		{% for sid,section in form_data.sections %}
			<div class="card mb-3" id="{{ sid }}">
				{% if section.title is not empty %}
					<div class="card-header">
						{% if section.image is not empty %}
							<i class="{{ section.image }}"></i>
						{% endif %}
						{{ section.title }}
					</div>
				{% endif %}
				<div class="formfields">
					{% for id,field in section.fields %}
						{{ formfields.fieldrow(id, field) }}
					{% endfor %}
				</div>
			</div>
		{% endfor %}

		<!-- submit buttons -->
		<div>
			{% if hiddenid is not empty %}
				<input type="hidden" name="id" value="{{ hiddenid }}"/>
			{% endif %}
			<input type="hidden" name="page" value="{{ page }}"/>
			<input type="hidden" name="action" value="{{ action }}"/>
			<input type="hidden" name="send" value="send"/>

			<div class="col-12 text-end">
				<button type="reset" class="btn btn-outline-secondary">{{ lng('panel.cancel') }}</button>
				<button type="submit" class="btn btn-primary">{{ lng('panel.save') }}</button>
			</div>
		</div>
	</form>
{% endmacro %}
