{% extends "Froxlor/userarea.html.twig" %}

{% block content %}

	<form action="{{ action|default("") }}" method="post" enctype="application/x-www-form-urlencoded" class="form">

		<div class="alert alert-warning" role="alert">
			<h4 class="alert-heading">{{ lng('panel.security_question') }}</h4>
			<p>{{ question|raw }}</p>
			{% if with_checkbox is defined and with_checkbox is iterable %}
				{% if with_checkbox.show %}
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="delete_userfiles" name="delete_userfiles" value="1">
						<label class="form-check-label" for="delete_userfiles">{{ with_checkbox.chk_text|raw }}</label>
					</div>
				{% else %}
					<input type="hidden" name="delete_userfiles" value="0"/>
				{% endif %}
			{% endif %}
			<hr>
			<p class="mb-0">
				<input type="hidden" name="send" value="send"/>
				{% for id,field in url_params %}
					<input type="hidden" name="{{ id }}" value="{{ field }}"/>
				{% endfor %}
				<button class="btn btn-danger" type="submit" name="submitbutton">{{ lng('panel.yes') }}</button>&nbsp;
				<a href="javascript:history.back(-1)" class="btn btn-secondary">{{ lng('panel.no') }}</a>
			</p>
		</div>

	</form>

{% endblock %}
