{% extends "Froxlor/base.html.twig" %}

{% block body %}
<div class="alert alert-{{ type }} fade show" role="alert">
	<h4 class="alert-heading">
		{{ heading }}
	</h4>
	<p>
		{{ alert_msg|raw }}
	</p>
	{% if alert_info %}
	<hr>
	<p class="mb-0">
	<pre>{{ alert_info|raw }}</pre>
	</p>
	{% endif %}
	{% if redirect_link %}
	<p class="mt-1 text-center">
		<a href="{{ redirect_link }}" class="btn btn-{{ type }}">{% if type == 'danger' %}{{ lng('panel.back') }}{% else %}{{ lng('success.clickheretocontinue') }}{% endif %}</a>
	</p>
	{% endif %}
</div>
{% endblock %}
