<!DOCTYPE html>
<html lang="en" {% if darkmode is defined %}class="{{ darkmode }}"{% endif %}>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex, nofollow, noarchive"/>
	<meta name="googlebot" content="nosnippet"/>

	<!-- CSS -->
	<link href="{{ basehref|default("") }}templates/Froxlor/assets/css/main.css" rel="stylesheet">
	{{ theme_css|raw }}
	{% block custom_css %}{% endblock %}

	<!-- Scripts -->
	<script src="{{ basehref|default("") }}templates/Froxlor/assets/js/main.js"></script>
	{{ theme_js|raw }}
	{% block custom_js %}{% endblock %}
	<title>Froxlor
		{% if page_title %}
			|
			{{ page_title }}
		{% endif %}
	</title>
</head>
<body {% if body_class is defined %}class="{{ body_class }}"{% endif %}>
	<div class="container-fluid">
		{% block navigation %}{% endblock %}

		{{ global_errors|raw }}

		{% block body %}{% endblock %}

		<footer class="py-5 text-center">
			<span>
				<img src="{{ basehref|default("") }}templates/Froxlor/assets/img/logo_grey.png" alt="Froxlor"/>
				{% if install_mode is not defined  %}
					{% if (get_setting('admin.show_version_login') == '1'
						and module == 'Login') or (module != 'Login'
						and get_setting('admin.show_version_footer') == '1') %}
						{{ call_static('\\Froxlor\\Froxlor', 'getFullVersion') }}
					{% endif %}
				{% endif %}
				&copy; 2009-{{ "now"|date("Y") }} by <a href="https://www.froxlor.org/" rel="external">the Froxlor Team</a>
				{% if install_mode is not defined %}
					{% if (get_setting('panel.imprint_url') != '') %}
						<a href="{{ get_setting('panel.imprint_url') }}" target="_blank" class="footer-link">{{ lng('imprint') }}</a>
					{% endif %}
					{% if (get_setting('panel.terms_url') != '') %}
						<a href="{{ get_setting('panel.terms_url') }}" target="_blank" class="footer-link">{{ lng('terms') }}</a>
					{% endif %}
					{% if (get_setting('panel.privacy_url') != '') %}
						<a href="{{ get_setting('panel.privacy_url') }}" target="_blank" class="footer-link">{{ lng('privacy') }}</a>
					{% endif %}
				{% endif %}
			</span>

			{% if lng('translator') %}
				<span class="mt-3">
					{{ lng('panel.translator') }}: {{ lng('translator') }}
				</span>
			{% endif %}
		</footer>
	</div>
</body>
</html>
