{% extends "Froxlor/base.html.twig" %}

{% block navigation %}
	<nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ linker({'section': 'index'}) }}">
				<img src="{{ header_logo }}" alt="" width="auto" height="24" class="d-inline-block align-text-top">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarTop">
				<ul class="navbar-nav align-items-center">
					{% if get_setting('panel.is_configured') == 0 and userinfo.adminsession == 1 and userinfo.change_serversettings == 1 %}
						<div class="alert alert-warning py-0 mx-2 my-auto" role="alert">
							<a href="{{ linker({'section': 'configfiles', 'page': 'configfiles'}) }}" class="alert-link">{{ lng('panel.not_configured') }}</a>
						</div>
					{% endif %}
					<li class="nav-item text-nowrap d-block me-2">
						<a class="btn btn-primary btn-sm d-block" href="{{ linker({'section': 'index'}) }}">{{ lng('panel.dashboard') }}</a>
					</li>
					<li class="nav-item dropdown me-2">
						<a class="btn btn-info btn-sm d-block dropdown-toggle" href="#" id="navbarOpts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ lng('panel.options') }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarOpts">
							<li>
								<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'change_password'}) }}">{{ lng('login.password') }}</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'change_language'}) }}">{{ lng('login.language') }}</a>
							</li>
							{% if get_setting('2fa.enabled') == 1 %}
								<li>
									<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': '2fa'}) }}">{{ lng('2fa.2fa') }}</a>
								</li>
							{% endif %}
							{% if get_setting('panel.allow_theme_change_admin') == '1' and userinfo.adminsession == 1 %}
								<li>
									<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'change_theme'}) }}">{{ lng('panel.theme') }}</a>
								</li>
							{% elseif get_setting('panel.allow_theme_change_customer') == '1' and userinfo.adminsession == 0 %}
								<li>
									<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'change_theme'}) }}">{{ lng('panel.theme') }}</a>
								</li>
							{% endif %}
							{% if get_setting('api.enabled') == 1 %}
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'apikeys'}) }}">{{ lng('menue.main.apikeys') }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="https://docs.froxlor.org/apiguide/index.html" rel="external" target="_blank">{{ lng('menue.main.apihelp') }}</a>
								</li>
							{% endif %}
						</ul>
					</li>
					<!-- if switched-user
															<li class="nav-item text-nowrap d-block me-2">
																<a class="btn btn-info btn-sm d-block" href="#view=suBack">
																	<i class="fas fa-undo"></i>
																	Switch back</a>
															</li>
															endif -->
					<li class="nav-item text-nowrap d-block">
						<a class="btn btn-danger btn-sm d-block" href="{{ linker({'section': 'index', 'action': 'logout'}) }}">
							<i class="fas fa-power-off"></i>
							{{ lng('login.logout') }}</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{%  block body %}
	<div class="row">
		<div class="col-2 bg-secondary text-light">
			{{ include('Froxlor/sidebarmenu.html.twig') }}
		</div>
		<main role="main" class="col-10 px-3 py-2">
			{% block content %}{% endblock %}
		</main>
	</div>
{% endblock %}
