{% extends "Froxlor/base.html.twig" %}

{% set body_class = "min-vh-100 d-flex flex-column" %}

{% block navigation %}
	{% if get_setting('panel.is_configured') == 0 and userinfo.adminsession == 1 and userinfo.change_serversettings == 1 %}
		<div class="alert alert-info rounded-0 mb-0 d-flex justify-content-between align-items-baseline" role="alert">
			<span>
				<i class="alert-icon fa fa-info-circle"></i> {{ lng('panel.not_configured') }}
			</span>

			<span>
				<a href="{{ linker({'section': 'configfiles', 'page': 'configfiles'}) }}" class="btn btn-light btn-sm">
					Setup starten
				</a>
			</span>
		</div>
	{% endif %}

	<nav class="navbar navbar-expand-md navbar-light py-0">
		<div class="container-fluid gx-0">
			<a class="navbar-brand p-3" href="{{ linker({'section': 'index'}) }}">
				<img src="{{ header_logo }}" alt="" width="auto" height="24" class="d-inline-block align-text-top">
			</a>
			<div class="me-3 me-sm-0">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar"  aria-expanded="false" aria-label="Toggle sidebar">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<form id="search" class="position-relative" method="post">
				<div class="input-group">
					<input title="search" type="search" class="form-control-plaintext" placeholder="Search for ..." style="outline: none">
				</div>
				<ul id="search-dropdown" class="bg-white border list-group list-group-flush position-absolute" style="display:none; z-index: 50; max-height: 300px; overflow-y: scroll"></ul>
			</form>
			<div class="collapse navbar-collapse justify-content-end px-3" id="navbar">
				<ul class="navbar-nav align-items-center">
					{% if userinfo.adminsession == 1 %}
					<li class="nav-item text-nowrap d-block" id="updatecheck">
					</li>
					{% endif %}
					<li class="nav-item text-nowrap d-block me-2">
						<a class="btn btn-primary btn-sm d-block" href="{{ linker({'section': 'index'}) }}">
							<i class="fa fa-dashboard"></i> {{ lng('panel.dashboard') }}
						</a>
					</li>
					<li class="nav-item dropdown me-2">
						<a class="btn btn-secondary btn-sm d-block dropdown-toggle" href="#" id="navbarOpts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-gears"></i> {{ lng('panel.options') }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarOpts">
							<li>
								<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'change_password'}) }}"><i class="fa-solid fa-lock"></i> {{ lng('login.password') }}</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'change_language'}) }}"><i class="fa-solid fa-flag"></i> {{ lng('login.language') }}</a>
							</li>
							{% if get_setting('2fa.enabled') == 1 %}
								<li>
									<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': '2fa'}) }}"><i class="fa-solid fa-shield"></i> {{ lng('2fa.2fa') }}</a>
								</li>
							{% endif %}
							{% if get_setting('panel.allow_theme_change_admin') == '1' and userinfo.adminsession == 1 %}
								<li>
									<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'change_theme'}) }}"><i class="fa-solid fa-image"></i> {{ lng('panel.theme') }}</a>
								</li>
							{% elseif get_setting('panel.allow_theme_change_customer') == '1' and userinfo.adminsession == 0 %}
								<li>
									<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'change_theme'}) }}"><i class="fa-solid fa-image"></i> {{ lng('panel.theme') }}</a>
								</li>
							{% endif %}
							{% if get_setting('api.enabled') == 1 %}
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{ linker({'section': 'index', 'page': 'apikeys'}) }}"><i class="fa-solid fa-key"></i> {{ lng('menue.main.apikeys') }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="https://docs.froxlor.org/apiguide/index.html" rel="external" target="_blank"><i class="fa-solid fa-circle-info"></i> {{ lng('menue.main.apihelp') }}</a>
								</li>
							{% endif %}
						</ul>
					</li>
					<!-- if switched-user
					<li class="nav-item text-nowrap d-block me-2">
						<a class="btn btn-info btn-sm d-block" href="#view=suBack">
							<i class="fas fa-undo"></i>
							Switch back</a>
					</li>
					endif -->
					<li class="nav-item text-nowrap d-block">
						<a class="btn btn-link" title="{{ lng('login.logout') }}" href="{{ linker({'section': 'index', 'action': 'logout'}) }}">
							<i class="fas fa-power-off"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block body %}
	<div class="d-flex flex-grow-1 overflow-hidden">
		{{ include('Froxlor/sidebarmenu.html.twig') }}

		<main role="main" class="d-flex flex-column flex-grow-1 px-5 pt-4 pb-0 overflow-auto max-h-before-header">
			<section class="flex-grow-1">
				{% block content %}{% endblock %}
			</section>

			{{ include('Froxlor/footer.html.twig') }}
		</main>
	</div>
{% endblock %}
