{% macro progressbar(data) %}
    <div class="progress progress-thin">
        <div class="progress-bar {{ data.style }}" style="width: {{ data.percent }}%;"></div>
    </div>
    <div class="text-end">
        {% if data.infotext is not empty %}
            <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="right" title="{{ data.infotext|raw }}"></i>
        {% endif %}
        {{ data.text }}
    </div>
{% endmacro %}

{% macro boolean(data) %}
    {% if (data) %}
        <i class="fa fa-check-circle text-success"></i>
    {% else %}
        <i class="fa fa-times-circle text-danger"></i>
    {% endif %}
{% endmacro %}

{% macro actions(data) %}
    {% for action in data %}
        {% if action.visible is not defined or action.visible is defined and action.visible %}
            {% apply spaceless %}
                <a href="{{ action.href }}" {% if action.target is defined %}target="{{ action.target }}"{% endif %}>
                    {% if action.icon is defined %}
                        <i class="{{ action.icon }}"></i>
                    {% endif %}
                    {% if action.text is defined %}
                        {{ action.text }}
                    {% endif %}
                </a>
            {% endapply %}
        {% endif %}
    {% endfor %}
{% endmacro %}
