{% macro table(listing) %}

	{% import "Froxlor/table/callbacks.html.twig" as callbacks %}

	<form action="{{ action|default("") }}" method="post" enctype="application/x-www-form-urlencoded" class="form">
		{% if listing.title is not empty %}
			<h3 class="page-header">
				{% if listing.icon is not empty %}
					<i class="{{ listing.icon }}"></i>
				{% endif %}
				{{ listing.title }}
			</h3>
		{% endif %}

		<div class="card table-responsive">
			<table class="table table-borderless table-striped mb-0">
				<thead>
					<tr>
						{% for column in listing.table.th %}
							<th class="p-3">{{ column }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for td in listing.table.tr %}
						<tr>
							{% for value in td %}
								<td class="p-3">
									{% if value is iterable %}
										{% if value.type == 'progressbar' %}
											{{ callbacks.progressbar(value.data) }}
										{% elseif value.type == 'boolean' %}
											{{ callbacks.boolean(value.data) }}
										{% else %}
											Callback '{{ value|json_encode }}' is not implemented!
										{% endif %}
									{% else %}
										{{ value|raw }}
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="card-footer">
				Pagination...
			</div>
		</div>
	</form>

{% endmacro %}
