{% extends "Froxlor/settings/index.html.twig" %}

{% block settings %}

	{% import "Froxlor/form/formfields.html.twig" as formfields %}

	<div class="card mb-3">
		<div class="formfields">
			{% for id,setting in fields %}
				{% if id != '_group' %}
					{% set isEm = em is defined and em == id %}
					{{ formfields.fieldrow(id, setting, false, (get_setting('system.hide_incompatible_settings') == '0'), isEm) }}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div>
		<input type="hidden" name="page" value="{{ page }}"/>
		<input type="hidden" name="action" value="{{ action }}"/>
		<input type="hidden" name="send" value="send"/>

		<div class="col-12 text-end">
			<button type="reset" class="btn btn-outline-secondary">{{ lng('panel.cancel') }}</button>
			<button type="submit" class="btn btn-primary">{{ lng('panel.save') }}</button>
		</div>
	</div>
{% endblock %}
