{% extends "Froxlor/userarea.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<form action="{{ linker({'section':'index'}) }}" class="col-12 max-w-420 d-flex flex-column" method="post" enctype="application/x-www-form-urlencoded">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">{{ lng('menue.main.changepassword') }}</h5>

						<div class="mb-3">
							<label for="old_password" class="col-form-label">{{ lng('changepassword.old_password') }}</label>
							<input class="form-control" type="password" name="old_password" id="old_password" value="" required/>
						</div>
						<div class="mb-3">
							<label for="new_password" class="col-form-label">{{ lng('changepassword.new_password') }}</label>
							<input class="form-control" type="password" name="new_password" id="new_password" value="" required/>
						</div>
						<div class="mb-3">
							<label for="new_password_confirm" class="col-form-label">{{ lng('changepassword.new_password_confirm') }}</label>
							<input class="form-control" type="password" name="new_password_confirm" id="new_password_confirm" value="" required/>
						</div>

						{% if userinfo.adminsession == 0 %}

							<div class="mb-3">
								<label for="change_main_ftp" class="col-form-label">{{ lng('changepassword.also_change_ftp') }}</label>
								<div class="form-check form-switch">
									<input type="hidden" name="change_main_ftp" value="false">
									<input class="form-check-input" type="checkbox" name="change_main_ftp" id="change_main_ftp" value="true" checked>
								</div>
							</div>

							<div class="mb-3">
								<label for="change_stats" class="col-form-label">{{ lng('changepassword.also_change_stats') }}</label>
								<div class="form-check form-switch">
									<input type="hidden" name="change_stats" value="false">
									<input class="form-check-input" type="checkbox" name="change_stats" id="change_stats" value="true" checked>
								</div>
							</div>

						{% endif %}
					</div>

					<div class="card-body d-grid gap-2">
						<input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
						<input type="hidden" name="page" value="{{ page }}"/>
						<input type="hidden" name="send" value="send"/>
						<button class="btn btn-primary rounded-top-0" type="submit" name="dosave">
							<i class="fa-regular fa-floppy-disk"></i>
							{{ lng('menue.main.changepassword') }}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
