{% extends "Froxlor/userarea.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<form action="{{ linker({'section':'index'}) }}" class="col-12 max-w-420 d-flex flex-column" method="post" enctype="application/x-www-form-urlencoded">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">{{ lng('menue.main.changelanguage') }}</h5>

						<div>
							<label for="def_language" class="col-form-label">{{ lng('login.language') }}</label>
							<select class="form-select" name="def_language" id="def_language" required>
								<option value="profile">{{ lng('login.profile_lng') }}</option>
								{% for val,lang in languages %}
									<option value="{{ val }}" {% if default_lang == val %} selected="selected" {% endif %}>{{ lang|raw }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="card-body d-grid gap-2">
						<input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
						<input type="hidden" name="page" value="{{ page }}"/>
						<input type="hidden" name="send" value="send"/>
						<button class="btn btn-primary rounded-top-0" type="submit" name="dosave">
							<i class="fa-regular fa-floppy-disk"></i>
							{{ lng('menue.main.changelanguage') }}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
