{% extends "Froxlor/userarea.html.twig" %}

{% block heading %}

	{% if formdata.title is not empty %}
		<div>
			<h5 class="mb-1">
				{% if formdata.image is not empty %}
					<i class="{{ formdata.image }} me-1"></i>
				{% endif %}
				{{ formdata.title }}
			</h5>
			{% if formdata.description is not empty %}
				<span class="text-muted">{{ formdata.description }}</span>
			{% endif %}
		</div>
	{% endif %}

{% endblock %}

{% block actions %}

	{% if formdata.self_overview is defined and formdata.self_overview is iterable %}
		{% if actions_links is not defined %}{% set actions_links = [] %}{% endif %}
		{% set actions_tmp = actions_links %}
		{% set actions_links = {'href': linker(formdata.self_overview), 'icon': 'fa-solid fa-reply','label': lng('panel.backtooverview')} %}
		{% set actions_links = {actions_links}|merge(actions_tmp) %}
	{% endif %}

	{% if actions_links is iterable or (entity_info is defined and entity_info is not empty) %}
		<div>
			{% if actions_links is iterable %}
				{% for link in actions_links %}
					<a class="btn {{ link.class|default('btn-outline-primary') }}" href="{{ link.href|raw }}">
						<i class="{{ link.icon|default('fa-solid fa-plus-circle') }}"></i><span class="d-none d-lg-inline ms-lg-1">{{ link.label }}</span>
					</a>
				{% endfor %}
			{% endif %}
			{# TODO: eventually not used anymore because of using a documentation link
			{% if entity_info is defined and entity_info is not empty %}
				<div class="alert alert-info" role="alert">
					{{ entity_info|raw }}
				</div>
			{% endif %}
			#}
		</div>
	{% endif %}

{% endblock %}

{% block content %}

	{% import "Froxlor/form/form.html.twig" as form %}

	{{ form.form(formdata, formaction|default('#'), formdata.title, editid|default(''), false, idprefix|default('')) }}

{% endblock %}
