{% extends "Froxlor/userarea.html.twig" %}

{% block content %}
	<h2 class="page-header">Dashboard</h2>

	{% if get_setting('panel.is_configured') == 0 and userinfo.adminsession == 1 and userinfo.change_serversettings == 1 %}
		<div class="alert alert-info position-relative p-5">
			<h3>Willkommen bei Froxlor!</h3>
			<p class="lead mb-5">Damit Froxlor mit dem Backend vernünftig kommunizieren kann, musst du dieses noch Konfigurieren.</p>
			<a class="btn btn-lg btn-light text-info" href="{{ linker({'section': 'configfiles', 'page': 'configfiles'}) }}">Jetzt konfigurieren</a>
			<aside class="position-absolute bottom-0 end-0 p-5">
				<i class="fa fa-hat-wizard fa-5x"></i>
			</aside>
		</div>
	{% endif %}

	<div class="card">
		{% import "Froxlor/user/dashboard-item.html.twig" as dashboard %}
		{% if userinfo.adminsession == 1 %}
			{# admin-resources #}
			<div class="row row-cols-2 row-cols-xl-5 g-0">
				{{ dashboard.ditem('admin.customers', userinfo.customers, overview.number_customers) }}
				{{ dashboard.ditem('admin.domains', userinfo.domains, overview.number_domains) }}
				{{ dashboard.ditem('customer.diskspace', userinfo.diskspace_bytes, overview.diskspace_bytes_used, overview.diskspace_bytes, true) }}
				{{ dashboard.ditem('customer.traffic', userinfo.traffic_bytes, overview.traffic_bytes_used, overview.traffic_bytes, true) }}
				{{ dashboard.ditem('customer.subdomains', userinfo.subdomains, overview.subdomains_used, overview.subdomains_assigned) }}
				{{ dashboard.ditem('customer.mysqls', userinfo.mysqls, overview.mysqls_used, overview.mysqls_assigned) }}
				{{ dashboard.ditem('customer.emails', userinfo.emails, overview.emails_used, overview.emails_assigned) }}
				{{ dashboard.ditem('customer.accounts', userinfo.email_accounts, overview.email_accounts_used, overview.email_accounts_assigned) }}
				{{ dashboard.ditem('customer.forwarders', userinfo.email_forwarders, overview.email_forwarders_used, overview.email_forwarders_assigned) }}
				{{ dashboard.ditem('customer.ftps', userinfo.ftps, overview.ftps_used, overview.ftps_assigned) }}
			</div>
		{% else %}
			{# customer-resources #}
			<div class="row row-cols-2 row-cols-xl-4 g-0">
				{{ dashboard.ditem('customer.diskspace', userinfo.diskspace_bytes, userinfo.diskspace_bytes_used, null, true) }}
				{{ dashboard.ditem('customer.traffic', userinfo.traffic_bytes, userinfo.traffic_bytes_used, null, true) }}
				{{ dashboard.ditem('customer.subdomains', userinfo.subdomains, userinfo.subdomains_used) }}
				{{ dashboard.ditem('customer.mysqls', userinfo.mysqls, userinfo.mysqls_used) }}
				{{ dashboard.ditem('customer.emails', userinfo.emails, userinfo.emails_used) }}
				{{ dashboard.ditem('customer.accounts', userinfo.email_accounts, userinfo.email_accounts_used) }}
				{{ dashboard.ditem('customer.forwarders', userinfo.email_forwarders, userinfo.email_forwarders_used) }}
				{{ dashboard.ditem('customer.ftps', userinfo.ftps, userinfo.ftps_used) }}
			</div>
		{% endif %}
	</div>

	<div class="row">
		<div class="col-7">
			<div class="card">
				<div class="card-header">
					<h5>Applicant Information</h5>
					<span class="text-muted">Personal details and application.</span>
				</div>
				<div class="card-body">
					dd
				</div>
			</div>

			{% if userinfo.adminsession == 1 %}
			{# froxlor-details #}
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa-solid fa-wrench"></i>
					{{ lng('admin.froxlordetails') }}
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">{{ lng('tasks.outstanding_tasks') }}</div>
							{% for task in outstanding_tasks %}
								<i class="fa-regular fa-clock"></i>
								{{ task.desc }}<br>
							{% endfor %}
						</div>
					</li>
					{% for cronrun in cron_last_runs %}
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">{{ cronrun.title }}</div>
							<span class="badge bg-primary">
									{% if cronrun.lastrun > 0 %}
										{{ cronrun.lastrun|date('d.m.Y H:i') }}
									{% else %}
										{{ lng('cronjobs.notyetrun') }}
									{% endif %}
								</span>
						</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<div class="col-5">
			<div id="newsfeed" class="card">
				<div class="card-header">
					<h5>Froxlor Newsfeed</h5>
					<span class="text-muted">Personal details and application.</span>
				</div>
				<div class="list-group list-group-flush" id="newsfeeditems">
					<div class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							Loading newsfeed...
						</div>
						<span>
							<i class="fa-solid fa-spinner fa-spin"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
