{% extends "Froxlor/userarea.html.twig" %}

{% block content %}
	{% if get_setting('panel.is_configured') == 0 and userinfo.adminsession == 1 and userinfo.change_serversettings == 1 %}
		<div class="alert alert-info position-relative p-5">
			<h3>Willkommen bei Froxlor!</h3>
			<p class="lead mb-5">Damit Froxlor mit dem Backend vernünftig kommunizieren kann, musst du dieses noch Konfigurieren.</p>
			<a class="btn btn-lg btn-light text-info" href="{{ linker({'section': 'configfiles', 'page': 'configfiles'}) }}">Jetzt konfigurieren</a>
			<aside class="position-absolute bottom-0 end-0 p-5">
				<i class="fa fa-hat-wizard fa-5x"></i>
			</aside>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-12 {% if userinfo.adminsession == 1 %}col-xl-4{% else %}col-xl-8{% endif %} mb-3 mb-xl-0">
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa-solid fa-chart-line"></i>
					{{ lng('panel.usage_statistics') }}
				</div>
				<div class="card-body">
					<div
						class="row row-cols-1 row-cols-md-2{% if userinfo.adminsession == 0 %} row-cols-lg-3 row-cols-xl-4{% endif %} g-4">
						{# admin-resources #}
						{% if userinfo.adminsession == 1 %}
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							{% else %}
							{# customer-resources #}
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card bg-light h-100 p-2">
									<h5>{{ lng('admin.customers') }} <small>{{ overview.number_customers }}/{{ userinfo.customers }}</small></h5>
									<div class="progress" style="height: .25rem;">
										<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% if userinfo.adminsession == 1 %}
			<div
				class="col-12 col-xl-4 mb-3 mb-xl-0">
				{# system infos #}
				<div class="card mb-3">
					<div class="card-header">
						<i class="fa-solid fa-gears"></i>
						{{ lng('admin.systemdetails') }}
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('admin.hostname') }}</div>
								{{ sysinfo.hostname }}
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('admin.serversoftware') }}</div>
								{{ sysinfo.webserver }}
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('admin.phpversion') }}</div>
								<a href="{{ linker({'section':'settings','page':'phpinfo'}) }}">{{ sysinfo.phpversion }}</a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('admin.mysqlserverversion') }}</div>
								{{ sysinfo.mysqlserverversion }}
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('admin.webserverinterface') }}</div>
								{{ sysinfo.phpsapi }}
							</div>
						</li>
						{% if sysinfo.memory is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{ lng('admin.memory') }}</div>
									<pre>{{ sysinfo.memory }}</pre>
								</div>
							</li>
						{% endif %}
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('admin.sysload') }}</div>
								{{ sysinfo.load }}
							</div>
						</li>
						{% if sysinfo.kernel is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">Kernel</div>
									{{ sysinfo.kernel }}
								</div>
							</li>
						{% endif %}
						{% if sysinfo.uptime is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">Uptime</div>
									{{ sysinfo.uptime }}
								</div>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		{% endif %}
		<div
			class="col-12 col-xl-4">

			{# newsfeed #}
			{% if (userinfo.adminsession == 1 and get_setting('admin.show_news_feed') == 1) or (userinfo.adminsession == 0 and get_setting('customer.show_news_feed') == 1) %}
				<div class="card mb-3" id="newsfeed" {% if userinfo.adminsession == 0 %} data-role="customer" {% endif %}>
					<div class="card-header">
						<i class="fa-solid fa-rss"></i>
						News
					</div>
					<div class="list-group list-group-flush" id="newsfeeditems">
						<div class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								Loading newsfeed...
							</div>
							<span>
								<i class="fa-solid fa-spinner fa-spin"></i>
							</span>
						</div>
					</div>
				</div>
			{% elseif userinfo.adminsession == 1 and get_setting('admin.show_news_feed') == 0 %}
				<div class="card bg-warning text-dark mb-3">
					<div class="card-header">
						<i class="fa-solid fa-rss"></i>
						News
					</div>
					<div class="card-body">
						<i class="fa-solid fa-circle-exclamation"></i>
						{{ lng('panel.newsfeed_disabled') }}&nbsp;
						<a href="{{ linker({'section':'settings','part':'panel'}) }}" title="{{ lng('panel.edit') }}">
							<i class="fa-solid fa-pen"></i>
						</a>
					</div>
				</div>
			{% endif %}

			{% if userinfo.adminsession == 1 %}
				{# custom notes #}
				{% if userinfo.custom_notes is not empty and userinfo.custom_notes_show == 1 %}
					<div class="card bg-info text-dark mb-3">
						<div class="card-body">
							{{ userinfo.custom_notes|nl2br|raw }}
						</div>
					</div>
				{% endif %}

				{# systemdetails #}

			{% else %}

				{# account info #}
				<div class="card mb-3">
					<div class="card-header">
						<i class="fa-solid fa-user"></i>
						{{ lng('index.accountdetails') }}
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('login.username') }}</div>
								{{ userinfo.loginname }}
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('customer.email') }}</div>
								{{ userinfo.email }}
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('customer.services') }}</div>
								{% if userinfo.imap == 1 %}
									<span class="badge bg-success">IMAP</span>
								{% endif %}
								{% if userinfo.pop3 == 1 %}
									<span class="badge bg-success">POP3</span>
								{% endif %}
								{% if userinfo.phpenabled == 1 %}
									<span class="badge bg-success">PHP</span>
								{% endif %}
								{% if userinfo.perlenabled == 1 %}
									<span class="badge bg-success">Perl/CGI</span>
								{% endif %}
								{% if userinfo.api_allowed == 1 %}
									<a href="{{ linker({'section':'index','page':'apikeys'}) }}">
										<span class="badge bg-success">API</span>
									</a>
								{% endif %}
							</div>
						</li>
						{% if stdsubdomain is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{ lng('admin.stdsubdomain') }}</div>
									{{ stdsubdomain }}
								</div>
							</li>
						{% endif %}
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ lng('customer.domains') }}</div>
								{% for domain in domains %}
									{{ domain }}<br>
								{% endfor %}
							</div>
							<span class="badge bg-primary rounded-pill">{{ domains|length }}</span>
						</li>
					</ul>
				</div>

				{# customer details #}
				<div class="card">
					<div class="card-header">
						<i class="fa-solid fa-id-card"></i>
						{{ lng('index.customerdetails') }}
					</div>
					<ul class="list-group list-group-flush">
						{% if userinfo.customernumber is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{ lng('customer.customernumber') }}</div>
									{{ userinfo.customernumber }}
								</div>
							</li>
						{% endif %}
						{% if userinfo.company is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{ lng('customer.company') }}</div>
									{{ userinfo.company }}
								</div>
							</li>
						{% endif %}
						{% if userinfo.name is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{ lng('customer.name') }}</div>
									{{ userinfo.firstname }}
									{{ userinfo.name }}
								</div>
							</li>
						{% endif %}
						{% if userinfo.street is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{ lng('customer.street') }}</div>
									{{ userinfo.street }}
								</div>
							</li>
						{% endif %}
						{% if userinfo.city is not empty %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{ lng('customer.zipcode') }}/{{ lng('customer.city') }}</div>
									{{ userinfo.zipcode }}
									{{ userinfo.city }}
								</div>
							</li>
						{% endif %}
						{% if userinfo.custom_notes is not empty and userinfo.custom_notes_show == 1 %}
							<li class="list-group-item list-group-item-info d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									{{ userinfo.custom_notes|nl2br|raw }}
								</div>
							</li>
						{% endif %}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
