{% extends "Froxlor/userarea.html.twig" %}

{% block heading %}
	<div>
		<h5 class="mb-1">
			<i class="fa-solid fa-magnifying-glass me-1"></i>
			{{ lng('panel.viewlogs') }}
		</h5>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12 col-md-10 order-2 order-md-1">
			<h4>Error-Log</h4>
			<textarea rows="16" class="logcontent" readonly>{{ error_log_content }}</textarea>
			<h4>Access-Log</h4>
			<textarea rows="16" class="logcontent" readonly>{{ access_log_content }}</textarea>
		</div>
		<div class="col-12 col-md-2 order-1 order-md-2">
			{% if actions_links is iterable %}
				{% for link in actions_links %}
					<a class="btn {{ link.class|default('btn-success') }} d-block mb-2" href="{{ link.href|raw }}">
						<i class="{{ link.icon|default('fa-solid fa-plus-circle') }} me-1"></i>
						{{ link.label }}</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
