{% extends "Froxlor/userarea.html.twig" %}

{% block heading %}

	<div>
		<h5 class="mb-1">
			<i class="fa fa-chart-area me-1"></i> Traffic
		</h5>
		<span class="text-muted">View your traffic</span>
	</div>

{% endblock %}

{% block content %}

	<!-- Range -->
	<!-- TODO: set url on change. e.g.: ?param=days:7 -->
	<div class="d-flex justify-content-end">
		<select class="form-select mb-4 w-auto mt-n4" aria-label="select the traffic range" name="range">
			<option value="hours:24">last 24 hours</option>
			<option value="days:7">last 7 days</option>
			<option value="days:30">last 30 days</option>
			<option value="months:3">last 3 months</option>
			<option value="months:6">last 6 months</option>
			<option value="months:12">last 12 months</option>
			<option value="year:2022">2022</option>
			<option value="year:2021">2021</option>
			<option value="year:2020">2020</option>
		</select>
	</div>

	<!-- Overview for given range -->
	<div class="row row-cols-4 g-0 bg-white rounded shadow-sm mb-4">
		<div class="col p-3 border-end">
			<h3>{{ metrics.total|formatBytes }}</h3>
			<span>Total</span>
		</div>
		<div class="col p-3 border-end">
			<h3>{{ metrics.http|formatBytes }}</h3>
			<span>HTTP</span>
		</div>
		<div class="col p-3 border-end">
			<h3>{{ metrics.ftp|formatBytes }}</h3>
			<span>FTP</span>
		</div>
		<div class="col p-3 border-end">
			<h3>{{ metrics.mail|formatBytes }}</h3>
			<span>Mail</span>
		</div>
	</div>

	<!-- Overview for given range by user -->
	<h4 class="page-header">Traffic by customers</h4>
	{% if users is not empty %}
		<div class="card table-responsive">
			<table class="table table-borderless table-striped align-middle mb-0 px-3">
				<thead>
				<tr>
					<th scope="col">{{ lng('login.username') }}</th>
					<th scope="col">Total</th>
					<th scope="col">HTTP</th>
					<th scope="col">FTP</th>
					<th scope="col">Mail
					</th>
				</tr>
				</thead>
				<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user.loginname }}</td>
					<td>{{ user.total|formatBytes }}</td>
					<td>{{ user.http|formatBytes }}</td>
					<td>{{ user.ftp|formatBytes }}</td>
					<td>{{ user.mail|formatBytes }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class="card">
			<div class="card-body">
				<p>No data for given range found.</p>
			</div>
		</div>
	{% endif %}

{% endblock %}
